@import 'variables.less';

.btn {
	background-color: @DefaultColor !important;
	font-family: @DefaultFont;
	font-weight: 300;
}

.btn-silver {
	background-color: @SilverColor !important;
	color: #333;
}