@import 'fonts.less';
@import 'variables.less';
@import 'functions.less';
@import 'buttons.less';
@import 'form.less';
@import 'grid.less';
@import '../plugins/rClick.css';

body {
	background-color: @PomegranateColor;
	color: #333;
	font-family: @DefaultFont;
	overflow: hidden;
}

@import '../modules/menus.less';

#Loader {
	position: fixed;
	bottom: 10px;
	right: 10px;
	display: none;
	z-index: 9999;
}

.content {

}

.modal.small {
	width: 25%;
	height: 150px;
}

.modal.medium {
	width: 35%;
	height: 50%;
}

.modal {

	.modal-header {
		/*display: inline-block;*/
		/*width: 100%;*/
		/*background-color: #fff;*/
		/*box-shadow: 0 0 5px #ccc;*/
	}

	a.modal-close {
		float: right;
		color: @PomegranateColor;
		padding: 5px;

		/*i {*/
			position: fixed;
			top: 0;
			right: 10px;
			cursor: pointer;
			z-index: 1005;
		/*}*/
	}
}

.description {
	border-radius: 2px;
	font-size: 18px;
	font-weight: 300;
	padding: 5px;
}

.description.true {
	border-left: 3px solid @DefaultColor;
	background-color: @DefaultColorHover;
	color: #fff;
	margin: 5px 0;
}

.ml {
	margin-left: 10px !important;
}

.mr {
	margin-right: 10px !important;
}

.mt {
	margin-top: 10px !important;
}

.mb {
	margin-bottom: 10px !important;
}

ul.menu-top {

	padding: 0;
	margin: 0;
	height: 50px;
	line-height: 50px;
	color: #fff;
	overflow: hidden;

	.logo {
		color: #fff;
		font-size: 36px;
		font-weight: 300;
		padding: 5px;
	}

	.url input {
		width: 230px;
	}

	.user {

		background-image: url('/img/ico/person.svg');
	    height: 100%;
	    width: 50px;
	    background-repeat: no-repeat;
	    background-position: center;
	}

	a {
		color: #fff !important;
	}

	> li {

		display: inline-block;
		float: right;
		line-height: 50px;
		padding: 5px 10px;
		color: #fff;
		border: solid 1px @PomegranateColorHover;
		border-right: none;
		cursor: pointer;

		i {
			font-size: 36px;
		}
	}

	li.git {
		background-image: url('/img/ico/git.png');
		background-position: center;
		background-repeat: no-repeat;
		background-size: 70%;
		height: 50px;
		width: 50px;
		color: transparent;
	}

	> li:hover {
		background-color: @PomegranateColorHover;
	}

	ul {

		position: absolute;
		background-color: #fff;
		width: 300px;
		z-index: 100;
		display: none;

		li {

			color: #333;
			padding: 5px;
			border-bottom: solid 1px @SilverColorHover;
			
			span {

				color: @PomegranateColor;
				float: right;
				font-weight: bold;
				text-transform: uppercase;
			}
		}

		li:hover {
			background-color: @SilverColorHover;
		}
	}
}

.block-selection.theme {
	width: 200px;
}

.block-selection.login {

	/*height: 195px;*/

	li {
		border: none;
		cursor: default;
	}

	li:hover {
		background-color: transparent;
	}
}

.block-selection {

	position: absolute;
	right: 10px;
	top: 60px;
	background-color: #fff;
	z-index: 10;
	width: auto;
	display: none;

	.search {

		height: 45px;
	}

	div.title {

		width: 400px;

		li {
			border-bottom: solid 2px @SilverColor;
			background-color: @SilverColorHover;
			color: @PomegranateColor;
			width: 200px;
			float: left;
			border-right: solid 2px @PomegranateColor;
			text-transform: uppercase;
			text-align: center;
			font-weight: bold;
		}
	}

	.column {

		width: 200px;	
		float: left;
		border-right: solid 2px @PomegranateColor;
		height: 300px;
		overflow: auto;	

		li {
			border-bottom: solid 1px @SilverColorHover;
			padding: 5px;
			cursor: pointer;
			text-transform: uppercase;
		}

		li:hover {
			background-color: @SilverColorHover;	
		}
	}
}

.CodeMirror {
	height: 95% !important;
	width: 85%;
	float: right;
}

#navigation-folders {
	height: 93%;
	width: 15%;
	display: inline-block;
	position: absolute;
	left: 0;
	top: 81px;
	background-color: #333;
	overflow: auto;

	ul {
		width: auto;
		max-width: 1000px;
		margin: 0;

		li {

			-moz-user-select: none; 
			-webkit-user-select: none; 
			-ms-user-select:none; 
			user-select:none;-o-user-select:none;

			span {

				width: 100%;
				display: inline-block;
			}

			span:hover {
				opacity: .6;
			}

			i {
				font-size: 18px;
				color: @SilverColor;
			}

			i.hidden {
				transform: rotate(-90deg);
			}
		}

		li.file {
			padding-left: 32px;
		}

		li.rCliked {
			background-color: @PomegranateColor;
		}

		ul ul {

			display: none;
			border-left: dashed 1px #444;
			margin-left: 5px;
			padding-left: 5px;
		}

		li.title {
			font-weight: bold;
			color: @SilverColor;
		}

		li {
			color: @SilverColorHover;
			cursor: default;
		}
	}
}

.tabs {

	height: 31px;
	width: 100%;
	display: inline-block;
	background-color: #333;
	box-shadow: 0 0 5px #222;
	border: solid 2px #222;
	color: @SilverColorHover;

	li {
		padding: 0 30px 0 10px;
		font-size: 12px;
		border-right: solid 1px #222;
		display: inline-block;
		text-align: center;
		height: 30px;
		line-height: 30px;
		position: relative;
		border-radius: 0 10px 0 0;
		margin-left: -3px;
		cursor: default;

		i {
			font-size: 16px;
		}

		i:nth-child(1) {
			font-size: 12px;
			float: left;
			margin-right: 5px;
			margin-top: 10px;
			opacity: 0;
		}

		i:nth-child(2) {
			color: #900;
			position: absolute;
			top: 7px;
			right: 5px;
		}
	}

	li.pendent-save {
		i:nth-child(1) {
			opacity: 1;
		}
	}

	li.active {
		background-color: #666;
	}

	li:hover {
		background-color: #444;
	}
}

#exec-console {
	height: 50px;
	width: 100%;
	position: absolute;
	z-index: 10;
	background-color: #222;
	bottom: 0;

	input {
		width: 90%;
		float: right;
		color: #fff;
	}

	label {
		float: left;
		color: #666;
		line-height: 50px;
	}
}